<app-loading-spinner *ngIf="!devices"></app-loading-spinner>
<div *ngIf ="devices" class="row">
    <div class="col-12">
        <div class="row" >
            <div class="col-lg-6" style="margin-top: 10px;">
                <mdb-card>
                    <b>Temperature</b>
                    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                      <mdb-card-body>
                        <div style="display: block">
                            <canvas mdbChart
                                [chartType]="chartType"
                                [datasets]="chartDatasets1"
                                [labels]="chartLabels"
                                [colors]="chartColors1"
                                [options]="chartOptions"
                                [legend]="true"
                                (chartHover)="chartHovered($event)"
                                (chartClick)="chartClicked($event)">
                            </canvas>
                        </div>
                      </mdb-card-body>
                      
                    </div>
                  </mdb-card>
            </div>
            <div class="col-lg-6" style="margin-top: 10px;">
                <mdb-card>
                    <b>Humidity</b>
                    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                      <mdb-card-body>
                        <div style="display: block">
                            <canvas mdbChart
                                [chartType]="chartType"
                                [datasets]="chartDatasets2"
                                [labels]="chartLabels"
                                [colors]="chartColors2"
                                [options]="chartOptions"
                                [legend]="true"
                                (chartHover)="chartHovered($event)"
                                (chartClick)="chartClicked($event)">
                            </canvas>
                        </div>
                      </mdb-card-body>
                      
                    </div>
                  </mdb-card>
            </div>
        </div>
        
        <div class="row" >
            <div class="col-lg-6" style="margin-top: 10px;">
                <mdb-card>
                    <b>Solar Voltage</b>
                    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                      <mdb-card-body>
                        <div style="display: block">
                            <canvas mdbChart
                                [chartType]="chartType"
                                [datasets]="chartDatasets3"
                                [labels]="chartLabels"
                                [colors]="chartColors1"
                                [options]="chartOptions"
                                [legend]="true"
                                (chartHover)="chartHovered($event)"
                                (chartClick)="chartClicked($event)">
                            </canvas>
                        </div>
                      </mdb-card-body>
                     
                    </div>
                  </mdb-card>
            </div>
            <div class="col-lg-6" style="margin-top: 10px;">
                <mdb-card>
                    <b>Battery Voltage</b>
                    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                      <mdb-card-body>
                        <div style="display: block">
                            <canvas mdbChart
                                [chartType]="chartType"
                                [datasets]="chartDatasets4"
                                [labels]="chartLabels"
                                [colors]="chartColors2"
                                [options]="chartOptions"
                                [legend]="true"
                                (chartHover)="chartHovered($event)"
                                (chartClick)="chartClicked($event)">
                            </canvas>
                        </div>
                      </mdb-card-body>
                      
                    </div>
                  </mdb-card>
            </div>
        </div>
        
    </div>
</div>