<app-navbar heading="Add Sensors"></app-navbar>
<app-loading-spinner *ngIf="!okay"></app-loading-spinner>
<div *ngIf="okay" style="margin-left: 20px;margin-right: 20px;height: 100%;margin-top: 10px;">
    <mdb-card>
        <mdb-card-body style="height: 600px;">
            <div class="row" style="text-align: center;">
                <div class="col-12">
                    <b>This is a simulation of physical hardware (sensors) </b>
                </div>
            </div>
            <hr>
            <div class="row" style="margin-top: 50px;">
                <div class="col-2" [ngStyle]="{'font-size.px':fsize}"><b>Name</b></div>
                <div class="col-2" [ngStyle]="{'font-size.px':fsize}"><b>location</b></div>
                <div class="col-2" [ngStyle]="{'font-size.px':fsize}"><b>Temperature</b></div>
                <div class="col-2" [ngStyle]="{'font-size.px':fsize}"><b>Humidity</b></div>
                <div class="col-2" [ngStyle]="{'font-size.px':fsize}"><b>SolarVoltage</b></div>
                <div class="col-2" [ngStyle]="{'font-size.px':fsize}"><b>BatteryVoltage</b></div>
            </div>
            <hr>
            <app-each-device 
            *ngFor="let device of devices;"
            [device]="device"
            [fsize]="fsize"></app-each-device>
        </mdb-card-body>
    </mdb-card>
</div>        



