<!-- Footer -->
<footer class="page-footer font-small info-color" style="margin-top: 10px; margin-left:0.5px">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-3 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4"><i class="material-icons">email</i></h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="mailto:sales@uniconvergetech.in">sales@uniconvergetech.in</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-3 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4"> <i class="material-icons">call</i></h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="Tel:9741933559">9741933559</a>
            </li>
            <!-- <li>
              <a href="#!">70-6556-0011</a>
            </li> -->
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-3 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4"><i class="material-icons">location_on</i></h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">Block C- 56/11, Ground floor, </a>
            </li>
            <li>
              <a href="#!">Sector 62, Noida, </a>
            </li>
            <li>
              <a href="#!">Uttar Pradesh 201309</a>
            </li>
  
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-3 mx-auto">
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4"><i class="material-icons">attachment</i></h5>
          <ul class="list-unstyled">
            <li>
              <a href="https://www.uniconvergetech.in">www.uniconvergetech.in</a>
            </li>
            <!-- <li>
              <a href="#!">help@skilancer.in</a>
            </li> -->
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a > UniConverge Technologies</a>
    </div>
    <!-- Copyright -->
  
  </footer>