<div class="row">
    <div class="col-lg-2 col-sm-12">{{device.name}}</div>
    <div class="col-lg-3 col-sm-12">{{device.modelNo}}</div>
    <div class="col-lg-2 col-sm-12">{{device.location}}</div>
    <div class="col-lg-2 col-sm-12">{{device.runTime}}</div>
    <div class="col-lg-1 col-sm-4"><a (click)="onView()"><i class="material-icons">visibility</i></a></div>
    <div class="col-lg-1 col-sm-4"><a (click)="onEdit()"><i class="material-icons">edit</i></a></div>
    <div class="col-lg-1 col-sm-4"><a (click)="onDelete()"><i class="material-icons">delete</i></a></div>
</div>
<hr>
<!-- <tr style="font-size: 13px;">
    <th  scope="row">{{device.name}}</th>
    <th >{{device.modelNo}}</th>
    <th>{{device.location}}</th>
    <th >{{device.runTime}}</th>
    <th ><a (click)="onView()"><i class="material-icons" >visibility</i></a></th>
    <th ><a (click)="onEdit()"><i class="material-icons">edit</i></a></th>
    <th ><a (click)="onDelete()"><i class="material-icons">delete</i></a></th>
</tr>
<hr> -->
