<app-loading-spinner *ngIf="!okay"></app-loading-spinner>
<div class="div" *ngIf="okay" style="margin-left: 10px;margin-right: 10px;margin-top: 8px;">
    <div class="row" >
        <div class="col-4"></div>
        <div class="col-4" style="text-align: center;"><b >{{device.name}}</b></div>
        <div class="col-4"></div>
    </div>
    <div class="row" >
        <div class="card-body clearfix z-depth-1 white text-black" style="border: none;">
            <div class="float-left" style="width: 65%;">
                <canvas  mdbChart style="max-height:115px;"
                [chartType]="chartTypel"
                [datasets]="chartDatasetsl1"
                [labels]="chartLabelsl"
                [colors]="chartColorsl1"
                [options]="chartOptionsl"
                [legend]="true"
                (chartHover)="chartHoveredl($event)"
                (chartClick)="chartClickedl($event)">
                </canvas>
            </div>
            <div class="float-right" style="width: 35%;">
               <div class="row" style="text-align:center;" >
                    <div class="col-3" style="margin-top:10%;">
                        <p [ngStyle]="{'font-size.px':fontSize}">Min-Temperature</p>
                        <p [ngStyle]="{'font-size.px':fontSize}">{{mint}}</p>
                    </div>
                    <div class="col-6" >
                       <div class="list-group-item z-depth-1 "  style="border:none;">
                           <p  [ngStyle]="{'font-size.px':fontSize}">Temperature</p>
                           <p [ngStyle]="{'font-size.px':fontSize}" >{{device.temperature[4]}}</p>
                    </div>
                    </div>
                    <div class="col-3" style="border:none;margin-top:10%;">
                       <p [ngStyle]="{'font-size.px':fontSize}">Max-temperature</p>
                       <p [ngStyle]="{'font-size.px':fontSize}">{{maxt}}</p>
                    </div>
               </div>
            </div>
        </div>   
    </div>
    <div class="row" >
     <div class="card-body z-depth-1 white text-black" style="border: none;">
        <div  class="float-left" style="width: 65%;">
            <canvas mdbChart style="max-height: 115px;"
            [chartType]="chartTypel"
            [datasets]="chartDatasetsl2"
            [labels]="chartLabelsl"
            [colors]="chartColorsl2"
            [options]="chartOptionsl"
            [legend]="true"
            (chartHover)="chartHoveredl($event)"
            (chartClick)="chartClickedl($event)">
            </canvas>
        </div>
        <div class="float-right" style="width: 35%;">
            <div class="row">
                 <div class="col-3" style="text-align: center;font-size:9px;margin-top:10%">
                     <p [ngStyle]="{'font-size.px':fontSize}">Min-Humidity</p>
                     <p [ngStyle]="{'font-size.px':fontSize}">{{minh}}</p>
                 </div>
                 <div class="col-6">
                    <div class="list-group-item z-depth-1" style="border:none;text-align: center;">
                        <p [ngStyle]="{'font-size.px':fontSize}">Humidity</p>
                        <p  [ngStyle]="{'font-size.px':fontSize}">{{device.humidity[4]}}</p>
                 </div>
                 </div>
                 <div class="col-3" style="border:none;text-align: center;font-size:9px;margin-top:10%">
                    <p [ngStyle]="{'font-size.px':fontSize}">Max-Humidity</p>
                    <p [ngStyle]="{'font-size.px':fontSize}">{{maxh}}</p>
                 </div>
            </div>
         </div>
     </div>
    </div>
    <div class="row" >
        <div class="card-body z-depth-1 white text-black" style="border: none;">
            <div  class="float-left" style="width: 65%;">
                <canvas mdbChart style="max-height: 115px;"
                [chartType]="chartTypel"
                [datasets]="chartDatasetsl3"
                [labels]="chartLabelsl"
                [colors]="chartColorsl3"
                [options]="chartOptionsl"
                [legend]="true"
                (chartHover)="chartHoveredl($event)"
                (chartClick)="chartClickedl($event)">
                </canvas>
            </div>
            <div class="float-right" style="width: 35%;">
                <div class="row">
                     <div class="col-3" style="text-align: center;font-size:9px;margin-top:10%">
                         <p [ngStyle]="{'font-size.px':fontSize}">Min-Battery Voltage</p>
                         <p [ngStyle]="{'font-size.px':fontSize}">{{minb}}</p>
                     </div>
                     <div class="col-6">
                        <div class="list-group-item z-depth-1" style="border:none;text-align: center;">
                            <p [ngStyle]="{'font-size.px':fontSize}">Battery Voltage</p>
                            <p [ngStyle]="{'font-size.px':fontSize}">{{device.batteryVoltage[4]}}</p>
                     </div>
                     </div>
                     <div class="col-3" style="border:none;text-align: center;font-size:9px;margin-top:10%">
                        <p [ngStyle]="{'font-size.px':fontSize}">Max-Battery Voltage</p>
                        <p [ngStyle]="{'font-size.px':fontSize}">{{maxb}}</p>
                     </div>
                </div>
             </div>
        </div>
    </div>
    <div class="row" >
        <div class="card-body z-depth-1 white text-black" style="border: none;">
        <div class="float-left" style="width: 65%;">
            <canvas mdbChart style="max-height: 115px;"
            [chartType]="chartTypel"
            [datasets]="chartDatasetsl4"
            [labels]="chartLabelsl"
            [colors]="chartColorsl4"
            [options]="chartOptionsl"
            [legend]="true"
            (chartHover)="chartHoveredl($event)"
            (chartClick)="chartClickedl($event)">
            </canvas>
        </div>
        <div class="float-right" style="width: 35%;">
            <div class="row">
                 <div class="col-3" style="text-align: center;font-size:9px;margin-top:10%">
                     <p [ngStyle]="{'font-size.px':fontSize}">Min-Solar Voltage</p>
                     <p [ngStyle]="{'font-size.px':fontSize}">{{mins}}</p>
                 </div>
                 <div class="col-6">
                    <div class="list-group-item z-depth-1" style="border:none;text-align: center;">
                        <p [ngStyle]="{'font-size.px':fontSize}">Solar Voltage</p>
                        <p [ngStyle]="{'font-size.px':fontSize}">{{device.solarVoltage[4]}}</p>
                 </div>
                 </div>
                 <div class="col-3" style="border:none;text-align: center;font-size:9px;margin-top:10%">
                    <p [ngStyle]="{'font-size.px':fontSize}">Max-Solar Voltage</p>
                    <p [ngStyle]="{'font-size.px':fontSize}">{{maxs}}</p>
                 </div>
            </div>
         </div>
        </div>
           
    
    </div>
        
       
    
    
</div>