
  /*   .dark-theme.fixed-sn .double-nav,
    .dark-theme.fixed-sn main,
    .dark-theme.fixed-sn footer {
      padding-left: 15rem; } */
    .dark-theme.fixed-sn main {
      margin-left: 1rem;
      margin-right: 1rem; }
    
    .dark-theme header {
      border-top: 2px solid #1d8cf8; }
      .dark-theme header .navbar {
        box-shadow: none;
        background-color: #181C30; }
    .dark-theme .card {
      background-color: #27293d; }
      .dark-theme .card .card-header {
        background-color: #27293d; }
      .dark-theme .card.card-table .card-header {
        border-bottom: none; }
    .dark-theme .btn.btn-sm {
      padding: .4rem 1.5rem .25rem;
      font-size: .75rem;
      font-weight: 500; }
    .dark-theme i.icon {
      font-size: 1.1rem; }
      .dark-theme i.icon.icon-blue {
        color: #36A2EB; }
  .cell-small {
    width: 1rem;
  }
  .dark-skin .side-nav .sidenav-bg:after, .dark-skin .side-nav .sidenav-bg.mask-strong:after {
      background: rgba(29, 140, 248, 0.8); }
  .dark-skin .side-nav .collapsible li .collapsible-header.active {
          background-color: rgba(24, 28, 48, 0.8); }
        .dark-skin .side-nav .collapsible li .collapsible-header:hover {
          background-color: rgba(24, 28, 48, 0.8); }
  .dark-skin .side-nav .collapsible li a:not(.collapsible-header):hover, .dark-skin .side-nav .collapsible li a:not(.collapsible-header).active, .dark-skin .side-nav .collapsible li a:not(.collapsible-header):active {
          color: #67d5ff !important; }
  