<mdb-card  class=" info-color-dark" style="height: 100%;border-radius: 0pt;">
  <mdb-card-body>
    <div class="row">
      <div class="col-4">
        <a class="brand "><img src="../../assets/final.png" style="max-height: 30px;"></a>
      </div>
      <div class="col-8">
        <a class="brand text-white" ><b style="font-size: 16px;">Skilancer Pvt Ltd.</b></a>
      </div>
    </div>
  <div *ngIf="(innerWidth>=1024)" >
   <hr style="margin-right: 0px;margin-left:0px;">
   <div class="list-group-item info-color-dark" style="text-align: center;border: none;"><a routerLink="/home" routerLinkActive="active" 
        ><h6 style="color: white;">Home</h6></a>
   </div>
   <hr style="margin-right: 0px;margin-left:0px;">
   <div  class="list-group-item  info-color-dark " style="text-align: center;border: none;"><a routerLink="/chart" routerLinkActive="active"><h6 style="color: white;">DashBoard</h6></a></div >
   <hr style="margin-right: 0px;margin-left:0px;">
   <div  class="list-group-item  info-color-dark" style="text-align: center;border: none;"><a routerLink="/crud" routerLinkActive="active"><h6 style="color: white;">Analysis</h6></a></div >
   <hr style="margin-right: 0px;margin-left:0px;">
   <div  class="list-group-item  info-color-dark" style="text-align: center;border: none;"><a routerLink="/analyse-each" routerLinkActive="active"><h6 style="color: white;">Parameterized Analysis</h6></a></div >
   <hr style="margin-right: 0px;margin-left:0px;">
   <div  class="list-group-item  info-color-dark" style="text-align: center;border: none;"><a routerLink="/registry" routerLinkActive="active"><h6 style="color: white;">Device registory</h6></a></div >
   <hr style="margin-right: 0px;margin-left:0px;">
   <div  class="list-group-item  info-color-dark" style="text-align: center;border: none;"><a routerLink="/alert" routerLinkActive="active"><h6 style="color: white;">Alerts</h6></a></div >
  </div>

   
  </mdb-card-body>
</mdb-card>
