<div class="div">
    <!-- <div class="row" >
        <div class="col">
            <a mdbBtn type="button" color="default" mdbWavesEffect role="button" style="width: 100%;" (click)="onAddDevice()">Add Device</a>
            <a 
            routerLink=""
            routerLinkActive="active"
                class="list-group-item clearfix hoverable white text-black" style="border:none;margin-top: 5px;text-align: center;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTAuCk8dtUg_hLk6PmRI_YozLfj7S108lp1Ww&usqp=CAU"  style="max-height: 20px;">
            </a>
        </div>
    </div> -->
    <div class="row" >
        <div class="col">
            <app-c-items
            *ngFor="let i=index;let deviceEl of devices;"
            [device]="deviceEl"
            [index]="i"
            ></app-c-items>
        </div>
    </div>
</div>
