<app-navbar heading="Home"></app-navbar>
<div  class="container" style="height: 80%;">
    <div class="row" style="margin-left: 30px;" >
        <div class="col-sm-6" style="margin-top: 10px;;">
         <a routerLink="/chart" >
            <div class="card" style="width:80%">
                <img class="card-img-top"
                 src="../../assets/dashboard.png"
                 alt="Card image" style="max-height: 200px;">
                <div class="card-body">
                  <h4 class="card-title" style="text-align: center;">DashBoard</h4>
                </div>
              </div>
        </a>
        </div> 
        <div class="col-sm-6" style="margin-top: 10px;;">
        <a routerLink="/crud">
            <div class="card"  style="width:80%">
                <img class="card-img-top"
                src="../../assets/analysisfinal.png"
                  alt="Card image"  style="max-height: 200px;">
                <div class="card-body">
                  <h4 class="card-title" style="text-align: center;">Analysis</h4>
                </div>
              </div>
        </a>
        </div> 
     </div>
     
     <div class="row" style="margin-left: 30px;">
         <div class="col-sm-6" style="margin-top: 10px;;">
             <a routerLink="/analyse-each">
                <div class="card"  style="width:80%">
                    <img class="card-img-top"
                     src="../../assets/parameter.png"
                     alt="Card image"  style="max-height: 250px;">
                    <div class="card-body">
                      <h4 class="card-title" style="text-align: center;">Parameterized Analysis</h4>
                    </div>
                  </div>
             </a>
         </div> 
         <div class="col-sm-6" style="margin-top: 10px;;">
          <a routerLink="/registry">
              <div class="card"  style="width:80%">
                  <img class="card-img-top" 
                  src="../../assets/devfinal.png"
                   alt="Card image"  style="max-height: 250px;">
                  <div class="card-body">
                    <h4 class="card-title" style="text-align: center;">Deivce Registry</h4>
                  </div>
                </div> 
          </a>
       </div> 
      </div>
      <div class="row" style="margin-left: 30px;">
        <div class="col-sm-6" style="margin-top: 10px;;">
          <a routerLink="/alert" >
            <div class="card"  style="width:80%">
                <img class="card-img-top"
                 src="../../assets/alertfinal.png"
                 alt="Card image"  style="max-height: 250px;">
                <div class="card-body">
                  <h4 class="card-title" style="text-align: center;">Alerts</h4>
                </div>
              </div>
         </a>
        </div> 
        <div class="col-sm-6" style="margin-top: 10px;;">
          <a routerLink="/error-page" >
            <div class="card"  style="width:80%">
                <img class="card-img-top"
                 src="../../assets/report.png"
                 alt="Card image"  style="max-height: 250px;">
                <div class="card-body">
                  <h4 class="card-title" style="text-align: center;">Reports</h4>
                </div>
              </div>
         </a>
        </div> 
     </div>
</div>